body {
  font-family: "Rubik Maze", cursive;
}
li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.celsiusTemperature {
  font-weight: bold;
  font-size: large;
}
.weatherapp {
  border: 1px solid #706f70;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 20px;
}
.wrapper{
  margin: 20px auto;
  max-width: 500px;
}
.active{
  color: black;
  text-decoration: none;
}
.active:hover{
  text-decoration: none;
}
.activs{
  text-decoration: none;
  color: black;
}


